.content {
    margin-top: 2em !important;
}

table {
    outline: 1px solid var(--hx-color-neutral-800);
    tr:last-child {
        border-bottom: none;
    }
}

table, th, td {
    border-radius: 10px;
    padding: 8px 12px 8px 6px !important;
}

.hextra-card {
    .hextra-card-icon {
        padding: 12px !important;
    }
}

.hextra-banner {
    color: darkorange;
    background-color: color-mix(in srgb, 90% transparent, 10% darkorange)
}

div.ent {
    display: flex;
    justify-content: space-between;
    margin-top: calc(var(--hx-spacing) * 8);
    padding-bottom: 0.75em;
    border-bottom: 1px solid var(--hx-color-neutral-800);

    h4 {
        margin: 0;
    }

    div {
        display: flex;
        gap: 0.25em;
    }
}